.home {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #F2D134;
}

.home__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.home__intro {
    margin-bottom: 2rem;
}

.home__title, .home__subtitle {
    font-family: 'Gloria Hallelujah';
}

.home__title {
    transform: rotate(-20deg) translateX(-80px);
    margin-bottom: 3rem;
}

.home__subtitle {
    line-height: 1.4em;
}
